.list {
    background-color: #e96840;
    border-radius: 3px;
    color: white;
    list-style: none;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0px 5px 0px 5px;
    margin: 5px 0px 5px 0px;
    align-items: baseline;
}
  
  .list h3 {
    color: #2e0101;
  }
  
  .list h4 {
    color: #5a1515;
    font-size: 0.7rem;
  }

  .controls {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    padding-bottom: 10px;
  }

  .controls button {
    background-color: #e96840;
    border-color: #ffff;
    cursor: pointer;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
  }

  .controls button:hover {
    background-color: #ff8b68;
  }